# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [40]:
tpl = tuple(range(1, 11))
tpl

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [43]:
first, *middle, last = tpl
print("First element:", first)
print("Middle elements:", tpl[len(tpl) // 2])
print("Last element:", last)

First element: 1
Middle elements: 6
Last element: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [44]:
print("Frist 3 elements:", tpl[:3])
print("Last 3 elements:", tpl[-3:])
print("Middle elements:", tpl[2:6])

Frist 3 elements: (1, 2, 3)
Last 3 elements: (8, 9, 10)
Middle elements: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [14]:
matrix = ((1,2,3), (4,5,6), (7,8,9))
print("Matrix:")
for r in matrix:
    print(r)

print("Value at 2nd row and 3rd col:", matrix[1][2])

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Value at 2nd row and 3rd col: 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [15]:
tpl1 = (1,2,3); tpl2 = (4,5,6)
tpl1 + tpl2

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [17]:
tpl = ('a','b','c','d','a','e','b','f','a')
print("Occurance of element 'a':", tpl.count('a'))
print("Index of first occurance of element 'a':", tpl.index('a'))

Occurance of element 'a': 3
Index of first occurance of element 'a': 0

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [18]:
tpl = (1,2,3,4,5)
a, b, c, d, e = tpl
print(a,b,c,d,e)

1 2 3 4 5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [19]:
lst = [3,6,2,1,7]
tpl = tuple(lst)
print(tpl)

(3, 6, 2, 1, 7)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [20]:
tpl = (('a','b','c'),('d','e','f'),('g','h','i'))
print(tpl)

(('a', 'b', 'c'), ('d', 'e', 'f'), ('g', 'h', 'i'))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [23]:
tpl = (1,2,3,4,5)
lst = list(tpl)
lst.append(6)
print(tuple(lst))

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [2]:
str = 'htet aung lynn'
tpl = tuple(str)
print("String:", tpl)
''.join(tpl)

String: ('h', 't', 'e', 't', ' ', 'a', 'u', 'n', 'g', ' ', 'l', 'y', 'n', 'n')

'htet aung lynn'

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [29]:
dct = {'name':('htet','aung','lynn'), 'score':('100','90','20')}
dct

{'name': ('htet', 'aung', 'lynn'), 'score': ('100', '90', '20')}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [30]:
ntpl = ((1,2,3),('a','b','c'),('A','B','C'))
for i1 in ntpl:
    for i2 in i1:
        print(i2)

1
2
3
a
b
c
A
B
C

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [31]:
tpl = ('a','b','c','d','a','e','b','f','a')
stpl = set(tpl)
print(stpl)

{'b', 'c', 'a', 'f', 'd', 'e'}







### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [36]:
def min_max_sum(t):
    min_ = min(t)
    max_ = max(t)
    sum_ = sum(t)
    return min_, max_, sum_

tpl = (1,2,3,4,5,6,7,8,9,10)
print(tpl)
min_max_sum(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

(1, 10, 55)