# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [16]:
import pandas as pd
import random

data = [[random.randint(1, 100) for i in range(4)] for j in range(6)]
df = pd.DataFrame(data).set_index(0)
df

     1   2   3
0
78  71  26  51
95  80  66  71
36  36   5  64
45  94  68  87
75  64  40  69
42  56  80  87

In [15]:
import pandas as pd
import numpy as np

data = np.random.randint(1, 100, size=(6, 4))
df = pd.DataFrame(data, columns=['A','B','C','D']).set_index('A')
df

     B   C   D
A
90   5  53  13
62  60  85  51
30  50  91  67
39  31  79  96
92  34  49  89
71  44  52   7

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [13]:
import pandas as pd
import random

df = pd.DataFrame(columns=['A','B','C'], index=['X','Y','Z'])
df = df.map(lambda x: random.randint(1, 100))
df

    A   B   C
X  19  31  67
Y  89  71  33
Z  18   4  44

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [19]:
import pandas as pd
import random

data = [[random.randint(1, 100) for i in range(3)] for j in range(5)]
df = pd.DataFrame(data)
df[3] = df[0] * df[1]
df

    0   1   2     3
0  69  81  87  5589
1  73  30  27  2190
2  74  13  56   962
3  80  14   2  1120
4  23  41  83   943

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [33]:
import pandas as pd
import random

data = [[random.randint(1, 100) for i in range(3)] for j in range(5)]
df = pd.DataFrame(data)
df['col-total'] = df.sum(axis=1)      # col-wise sum
df.loc['row-total'] = df.sum(axis=0)  # row-wise sum
df

             0    1    2  col-total
0           60   61   58        179
1           38   77   86        201
2           24    7   53         84
3           94   30   57        181
4           20   15   32         67
row-total  236  190  286        712

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [ ]:
import pandas as pd
from random import randint as ri
import numpy as np

data = [[ri(1, 100) for i in range(3)] for j in range(5)]
df = pd.DataFrame(data)

# Added 4 NaN values to dataframe
df.loc[ri(0,4), ri(0,2)] = np.nan
df.loc[ri(0,4), ri(0,2)] = np.nan
df.loc[ri(0,4), ri(0,2)] = np.nan
df.loc[ri(0,4), ri(0,2)] = np.nan

      0   1      2
0   NaN  47   62.0
1  18.0  63    NaN
2  58.0   5  100.0
3   NaN  89    NaN
4  17.0  26    7.0

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.